:root {
  --tui-primary: #A43DFF;
  --tui-primary-hover: #6600b3;
  --tui-primary-active: #cc80ff;
  --tui-secondary: #7A6FFF;
  --tui-secondary-hover: #362399;
  --tui-secondary-active: #9986FF;
  --tui-text-01: #FFFFFF;
}

$color-bg: #18181B;
$color-text: #FFFFFF;
$color-additional: #5A5A66;
$color-additional-text: #BCBCBC;
$color-primary: #A43DFF;
$color-secondary: #7A6FFF;
$color-validation: #E05252;
$color-success: #98CD6F;
