.review-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.form-control-container {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 100%;
}

.textarea-container {
  height: 150px;
}

.rating {
  color: #faaf00;
}
